<!DOCTYPE html>
<html>

<head>
  <title>Job Details</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

  <div class="flex">

    <%- include("layout/employeerSidebar.ejs") %>

    <main class="flex-1 p-8">

      <div class="bg-white rounded-lg shadow p-8">

        <h1 class="text-3xl font-bold mb-6 capitalize">
          <%= job.title %>
        </h1>

        <div class="space-y-4">

          <p class="uppercase">
            <strong class="capitalize">Skills:</strong>
            <%= job.skills %>
          </p>


          <p>
            <strong>Salary:</strong>
            ₹<%= job.salary %>
          </p>

          <p class="capitalize">
            <strong>Location:</strong>
            <%= job.location %>
          </p>


          <div>
            <h3 class="text-xl font-semibold mb-2">
              Job Description
            </h3>

            <p class="leading-8 text-gray-700 capitalize">
              <%= job.description %>
            </p>
          </div>

        </div>

        <div class="mt-8 flex gap-3">

          <a href="/employer/dashboard/jobs" class="bg-gray-600 hover:bg-gray-700 text-white px-5 py-2 rounded-lg">
            Back
          </a>

          <a href="/employer/dashboard/job/edit/<%= job._id %>" class="bg-blue-600 hover:bg-blue-700 text-white px-5 py-2 rounded-lg">
            Edit Job
          </a>


        </div>

      </div>

    </main>

  </div>

</body>

</html>